/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px; /* Agregamos espacio en los extremos */
}

.navbar {
  display: flex;
  justify-content: space-between; /* Espacio entre los elementos */
  align-items: center;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Para alinear los elementos del menú */
}

.menu li {
  margin-left: 20px; /* Ajustamos el margen izquierdo */
}

.menu li:first-child {
  margin-left: 0; /* Eliminamos el margen del primer elemento */
}

.menu li a {
  color: #fff;
  text-decoration: none;
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.formulario {
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="tel"],
input[type="text"],
select {
  width: calc(100% - 10px);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}

.logo {
  flex: 0 0 auto; /* Evita que el logo se estire */
}

.logo img {
  max-width: 60px; /* Ajusta el tamaño del logo */
  height: auto;
}


.cerrar{
    margin-top: 5px;
    background-color: red;
}

/* Otros estilos que tengas */

.puntos-box {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  margin-left: 20px;
}

.puntos-box h3 {
  margin-top: 0;
}

.puntos-box p {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}
