/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #1AEE56;
  color: #fff;
  padding: 10px 20px; /* Agregamos espacio en los extremos */
}

.navbar {
  display: flex;
  justify-content: space-between; /* Espacio entre los elementos */
  align-items: center;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Para alinear los elementos del menú */
}

.menu li {
  margin-left: 20px; /* Ajustamos el margen izquierdo */
}

.menu li:first-child {
  margin-left: 0; /* Eliminamos el margen del primer elemento */
}

.menu li a {
  color: #3a4868;
  text-decoration: none;
}

.logo {
  flex: 0 0 auto; /* Evita que el logo se estire */
}

.logo img {
  max-width: 250px; /* Ajusta el tamaño del logo */
  height: auto;
}

.reservas-lista {
  list-style: none;
  padding: 0;
}

.reserva-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.cancha-info {
  display: flex;
  align-items: center;
  padding: 20px;
}

.cancha-info img {
  width: 80px;
  height: auto;
  margin-right: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.info {
  flex: 1;
}

.info h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.3em;
}

.datos-reserva {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.datos-reserva p {
  margin: 0;
}

.sumarme-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  float: right;
}

.sumarme-btn:hover {
  background-color: #45a049;
}